body{
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(#FBC4DB, #930C43);
}
header{
	background: #F9ABCB;
}
.caja{
	width: 940px;
	position: relative;
	margin: 0 auto;
}
.img-logo:hover{
	width:150px;
}
nav{
	position: absolute;
	top: 50px;
	right: 0px;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
/*Capturar mause y cambiar apariencia*/
nav a:hover{
	color: #c78c19;
	text-decoration: underline;
}

#ingresarTexto{
	width: 900px;
	height: 200px;
	text-align: top;
}
#f{
	width: 900px;
	height: 200px;
	text-align: top;	
}
.principal-textos{
	padding: 3em 0;
	background: #F39ABF;
	width: 940px;
	margin: 0 auto;
	transition: 500ms;
	box-shadow: 10px 10px 30px 15px #5D5351;
}

.titulo_principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}


form{
	margin: 40px 0;
	text-align: center;
	display: block;
}
/*Referenciando los estilos de los label para la etiqueta p*/
form label, form legend{
	display: block;
	font-size: 25px;
	margin: 0 0 10px;
}

#click{
	width: 40%;
	padding: 15px 20px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	background: #F39ABF;
	border: none;
	border-radius: 15px;
	transition: 1s all;
	box-shadow: 10px 10px 30px 15px #5D5351;
}
#click:hover{
	background: #911B4C;
	width: 45%;
}

footer{
	text-align: center;
	padding: 40px;
	font-weight: bold;
	font-size: 25px;
}

.footer{
	width: 100px;
}








@media screen and (max-width: 540px){

	h1{
		text-align: center;
	}

	nav{
		position: static;
	}

	.caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
		width: auto;
	}
	.lista-diferenciales, .imagen-diferenciales{
		width: 100%;
	}

}